extends layout

link (href='https://fonts.googleapis.com/css?family=Oxygen:300|Coming+Soon', rel='stylesheet', type='text/css')

block header
	h1#title #{title}
	img#drake-head(src="images/drakeface.png")

block content
	div#content-span
		block widget
			div#widget
				iframe#spotify(src="https://embed.spotify.com/?uri=https://open.spotify.com/track/334S9SWZMjyRDN0wrHw7wk", width="300", height="380", frameborder="0", allowtransparency="true")
		block mood-choose
			div#mood-choose
				block current-mood-chooser
					h1 what do you feel?
					div#current-mood-chooser
						ul
							li deep in the feels
							li jumpman jumpman jumpan
							li mixin vodka and emotions
							li idk who i am anymore
				block future-mood-chooser
					h1 what do you wanna feel?
					div#future-mood-chooser
						ul
							li make me cry
							li life of the mf party
							li i better find your lovin'
							li too good

block footer
	div#footer
		p A Smart + Pipes Production